@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.hero {
  position: relative;
}

#div-img-livro {
  position: relative;
}

#btns-carrinho-detalhe button {
  cursor: pointer;
}

.fa-xl {
  font-size: 1.25em;
}

.fa-2xl {
  width: 40px;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 32px auto;
  padding: 32px;
  text-align: center;
}

.card-livro img {
  object-fit: contain;
}

.sessao-livros h2,
.sessao-livros p {
  margin-left: 0;
  margin-right: 0;
}

main {
  width: 100% !important;
  max-width: 1280px !important;
  margin: 32px auto !important;
  padding: 32px !important;
  text-align: center !important;
}

.sessao-lista-livros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  width: 100%;
  margin: 16px auto 0;
  padding: 0;

  overflow-x: hidden;
}

.search {
  background-color: #3a3c94;
  padding-left: 10px;
}

.card-livro {
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  flex: 0 0 255px;
}

.div-img-livro {
  position: relative;
  overflow: hidden;
}

.div-img-livro img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: contain;
  transition: 0.2s ease;
}

.div-img-livro::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);

  opacity: 0;
  transition: opacity 0.2s ease;

  pointer-events: none;
}

.heart-favoritar {
  position: absolute;
  top: 0;
  right: 0;

  width: 46px;
  height: 46px;

  border: none;
  border-radius: 12px;

  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;
  transform: translateY(-5px);
  transition: 0.2s ease;

  z-index: 2;
}

.icon-favoritar {
  color: #777;
  width: 30px;
  height: 30px;
}

.btns-carrinho-detalhe {
  position: absolute;

  left: 50%;
  bottom: 0;

  transform: translate(-50%, 10px);

  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0;
  transition: 0.2s ease;

  z-index: 2;
}

.btns-carrinho-detalhe button {
  width: 100%;
  height: 40px;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.btn-carrinho {
  background: #6366f1;
  color: white;
}

.btn-detalhes {
  background: #f3f4f6;
  color: #111827;
}

.card-livro:hover .div-img-livro::after {
  opacity: 1;
}

.card-livro:hover .heart-favoritar {
  opacity: 1;
  transform: translateY(0);
}

.card-livro:hover .btns-carrinho-detalhe {
  opacity: 1;
  transform: translate(-50%, 0);
}

.preview-resenha {
  justify-content: center;
}